html,
body {
  padding: 0;
  margin: 0;
  height: 100svh;
  width: 100vw;
}

:root {
  --squareSize: min(10svh, 10vw);
  --darkSquares: #d08b18;
  --lightSquare: #fce4b2;
  --coordinateColor: #fff;
  --hoverSquareColor: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32312d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chessboardSection {
  display: flex;
  justify-content: center;
  width: 100%;
}

#chessboardFrame {
  position: relative;
}

#chessboard {
  display: grid;
  width: min(80svh, 80vw);
  height: min(80svh, 80vw);
  grid-template-columns: repeat(8, 1fr);
  border-radius: 10px;
  position: relative;
}

#chessboard > :nth-child(-2n + 9):not(:nth-child(n + 9)),
#chessboard > :nth-child(-2n + 16):not(:nth-child(-n + 8)),
#chessboard > :nth-child(-2n + 23):not(:nth-child(-n + 16)),
#chessboard > :nth-child(-2n + 32):not(:nth-child(-n + 24)),
#chessboard > :nth-child(-2n + 39):not(:nth-child(-n + 32)),
#chessboard > :nth-child(-2n + 48):not(:nth-child(-n + 40)),
#chessboard > :nth-child(-2n + 55):not(:nth-child(-n + 48)),
#chessboard > :nth-child(-2n + 64):not(:nth-child(-n + 56)) {
  background-color: var(--lightSquare);
}

#chessboard > :nth-child(-2n + 8):not(:nth-child(n + 9)),
#chessboard > :nth-child(-2n + 15):not(:nth-child(-n + 7)),
#chessboard > :nth-child(-2n + 24):not(:nth-child(-n + 16)),
#chessboard > :nth-child(-2n + 31):not(:nth-child(-n + 23)),
#chessboard > :nth-child(-2n + 40):not(:nth-child(-n + 32)),
#chessboard > :nth-child(-2n + 47):not(:nth-child(-n + 39)),
#chessboard > :nth-child(-2n + 56):not(:nth-child(-n + 48)),
#chessboard > :nth-child(-2n + 63):not(:nth-child(-n + 55)) {
  background-color: var(--darkSquares);
}

#chessboard > :nth-child(1) {
  border-top-left-radius: 15px;
}

#chessboard > :nth-child(8) {
  border-top-right-radius: 15px;
}

#chessboard > :nth-child(57) {
  border-bottom-left-radius: 15px;
}

#chessboard > :nth-child(64) {
  border-bottom-right-radius: 15px;
}

#Vcoordinates {
  position: absolute;
  left: calc(var(--squareSize) * -1);
  top: 0;
  display: flex;
  flex-direction: column;
  color: var(--coordinateColor);
}

#Hcoordinates {
  position: absolute;
  left: 0px;
  bottom: calc(var(--squareSize) * -1);
  display: flex;
  flex-direction: row;
  color: var(--coordinateColor);
}

#Hcoordinates.rotated {
  flex-direction: row-reverse;
  rotate: 0deg;
}

#Vcoordinates.rotated {
  flex-direction: column-reverse;
  rotate: 0deg;
}

.coordinate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--squareSize);
  height: var(--squareSize);
  font-size: 3em;
}

#pieces {
  position: absolute;
  top: 0;
  left: 0;
}

.piece {
  position: absolute;
  cursor: grab;
  width: var(--squareSize);
  height: var(--squareSize);
  background-size: cover;
}

#hoverSquare {
  box-sizing: border-box;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: var(--squareSize);
  height: var(--squareSize);
  border: 4px solid var(--hoverSquareColor);
}

#possibleSteps > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--squareSize);
  height: var(--squareSize);
  z-index: 1;
}

#possibleSteps > div > div {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 100%;
  width: min(3svh, 3vw);
  height: min(3svh, 3vw);
}

#possibleSteps > div > div.take {
  box-sizing: border-box;
  background: none;
  border-radius: 100%;
  width: var(--squareSize);
  height: var(--squareSize);
  border: 8px solid rgba(100, 100, 100, 0.3);
}

.wR {
  background-image: url(assets/pieces/wr.png);
}

.wN {
  background-image: url(assets/pieces/wn.png);
}

.wB {
  background-image: url(assets/pieces/wb.png);
}

.wQ {
  background-image: url(assets/pieces/wq.png);
}

.wK {
  background-image: url(assets/pieces/wk.png);
}

.wP {
  background-image: url(assets/pieces/wp.png);
}

.bR {
  background-image: url(assets/pieces/br.png);
}

.bN {
  background-image: url(assets/pieces/bn.png);
}

.bB {
  background-image: url(assets/pieces/bb.png);
}

.bQ {
  background-image: url(assets/pieces/bq.png);
}

.bK {
  background-image: url(assets/pieces/bk.png);
}

.bP {
  background-image: url(assets/pieces/bp.png);
}
